/*homepage*/
* {
	color: #00FF00;
	font-family: 'Cutive Mono', monospace;
}
body {
	background-image: url(NoobBoard.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	/*-o-background-size: cover;*/
	background-size: cover;
}
td {
	border-color: #00FF00;
	border: solid 0.5px;
	padding: 5px;
}
.head {
	text-align: center;
	font-size: 110%;
}
.container {
	width: 100%;
}
.btn-success {
	color: black;
	background-color: #00FF00;
}
.btn-danger {
	color: black;
	background-color: #E51F00;
}
.down {
	margin-top: 10px;
}
li {
	list-style: none;
	text-align: center;
}
h1 {
	text-align: center;
}
.point {
	margin-left: 15px;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: white;
}
input {
	background-color: black;
}
.whiteHov {
	background-color: black;
}
.whiteHov:hover {
	color: white;
}