* {
	background-color: black;
	color: #00FF00;
	font-family: 'Cutive Mono', monospace;
}
.container {
	width: 100%;
}
.btn-success {
	color: black;
	background-color: #00FF00;
}
.btn-danger {
	color: black;
	background-color: #E51F00;
}
li {
	list-style: none;
	text-align: center;
}
h1 {
	text-align: center;
}
.point {
	margin-left: 15px;
	font-size: 85%;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: white;
}
.whiteHov:hover {
	color: white;
}