<div class="row">
	<div class="col-sm-4">
		<button ng-click="signOut()">Sign Out!</button>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<ul>
			<li ng-repeat="user in users">
				<div>{{user.name.toLowerCase()}}</div>
				<div class="point">
					n00b points: {{noobCount[noobCount.length].count[count.length]}}
					<span class="btn btn-danger btn-xs" ng-click="addNoobPt()">
						they're a n00b!
					</span>
				</div>
				<div class="point">
					4ss4s1n points: {{assnPt}}
					<span class="btn btn-success btn-xs" ng-click="addAssnPt()">
						they're l33t!
					</span>
				</div> 
			</li>
		</ul>
	</div>
</div>