<center>
	<form>
	  <ul>
	  	<li>
		  <div class="row">
		    <div class="col-sm-2 col-sm-offset-3">
		    	Email :
		    </div>
		    <input class="col-sm-3" ng-model="email">
		  </div>
		</li>
		<li>  
		  <div class="row">
		    <div class="col-sm-2 col-sm-offset-3">
		    	Password :
		    </div>
		    <input class="col-sm-3" ng-model="password">
		  </div>
	  	</li>
	  </ul>
	</form>
	<div class="row">
	  		<button class="whiteHov" ng-click="login()">
	  			Log In!
	  		</button>
	</div>
	<a ng-href="#/signup"><button class="whiteHov">Sign Up!</button></a>
</center>