 <center>
            <form>
                 <div class="row">
                    <div class="col-sm-2 col-sm-offset-3">
                        Name :
                    </div>
                    <input ng-model="name">
                </div>

                <div class="row">
                    <div class="col-sm-2 col-sm-offset-3">
                        Email :
                    </div>
                    <input ng-model="email">
                </div>
            
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-3">
                        Password :
                    </div>
                    <input ng-model="password" type="password">
                </div>
                <div class="row">
                    <button ng-click="signUp()" class="whiteHov">
                        Create Account!
                    </button>
                </div>
            </form>
    </center>