 <center>
            <form ng-submit="signUp()">
                <div class="row">
                    <label class="col-sm-2 col-sm-offset-3">
                        Email :
                    </label>
                    <input class="col-sm-3" ng-model="email">
                </div>
            
                <div class="row">
                    <label class="col-sm-2 col-sm-offset-3">
                        Password :
                    </label>
                    <input class="col-sm-3" ng-model="password">
                </div>
                
                <div class="row">
                    <button class="bump" ng-click="createUser()">
                        Create Account!
                    </button>
                </div>
            </form>
    </center>